<% include header %>


<h1>detail</h1>

<body>
  <div class="achtergrond2">
    <div id="gridartikel">
    <div id="eenartikel">
      <button class="backbutton"><a><</a></button>
      <img class="logo"src="http://is3.mzstatic.com/image/thumb/Purple128/v4/da/7d/ec/da7dec8b-144a-a52a-5db3-d901eb4b202d/source/1200x630bb.jpg"></img>
    </div>
    <div id="tweeartikel">
    </div>
    <div id="drieartikel">
      <p>Dit is een titel</p>
    </div>
    <div id="vierartikel">
      <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</p>
    </div>
    </div>
  </div>
</body>

<% include nav %>
