<% include header %>

<body>
  <div class="achtergrond2">
    <div id="gridartikel">
      <div id="eenartikel">
        <button class="backbutton"><a href="/leuven"> < </a></button>
        <img class="logo"src="http://is3.mzstatic.com/image/thumb/Purple128/v4/da/7d/ec/da7dec8b-144a-a52a-5db3-d901eb4b202d/source/1200x630bb.jpg"></img>
      </div>
      <div id="tweeartikel"></div>
      <div id="drieartikel">
        <p id="titel"></p>
      </div>
      <div id="vierartikel">
        <p id="inleiding"> </p>
        <p class="spatie"> De bushaltes 'Ferdinanduspolder', 'Cadix' en 'Londen' worden niet bediend. Deze worden vervangen door twee tijdelijke haltes: Op de Groenendaallaan, 50 meter voor het kruispunt met de Noorderlaan, voor de drie lijnen.
           Op de Straatsburgbrug, 50 meter voor het kruispunt met de Mexicostraat, voor de lijnen 763 en 764.</p>
        <p class="spatie"> Deze omleiding geldt zeker tot het voorjaar van 2018.</p>
      </div>
    </div>
  </div>
</body>

<script>
  var gemeente = <%-data%>;
  document.getElementById('titel').innerHTML = gemeente.nieuwsberichten[1].titel;
  document.getElementById('inleiding').innerHTML = gemeente.nieuwsberichten[1].overzichtText;
</script>
