<nav>
  <ul>
    <li><a href="/">HOME</a></li>
    <li><a href="/welkom">WELCOME</a></li>
    <li><a href="/zoek">SEARCH</a></li>
    <li><a href="/overzicht">RESULT</a></li>
    <li><a href="/detail">DETAIL</a></li>
    <li><a href="/antwerpen">Antwerpen</a></li>
  </ul>
</nav>
