<% include header %>

<h1>overzicht</h1>

<body>
<div class="kader">
  <div>
      <div id="drieResult">
				<button class="backbutton"><a><</a></button>
   <img class="logo" src="http://is3.mzstatic.com/image/thumb/Purple128/v4/da/7d/ec/da7dec8b-144a-a52a-5db3-d901eb4b202d/source/1200x630bb.jpg">
      </div>

    <div id="eenResult">
      <p> Gemeente: Mortsel</p>

   </div>
    </div>
     <div id="tweeResult">
      <p class="tweep"> Recent </p>
    </div>
    <div id="vierResult">
     <div id="vierfoto">   </div>

     <div class="schuin2 vier">
       <p class="artikel">Door het einde van de werken ...</p>
       <button id="buttonzoek"class="button vierb"><a>READ</a></button>
     </div>
    </div>
    <div id="vijfResult">
       <div id="vijffoto"> </div>
       <div class="schuin2 vijf">
         <p class="artikel">Door het einde van de werken ...</p>

				 <button id="buttonzoek"class="button vijfb"><a>READ</a></button>
       </div>
    </div>
		<div id="tweeResult">
		 <p class="tweep"> Onlangs gebeurd </p>
	 </div>
    <div id="zesResult">
       <div id="zesfoto"> </div>

    </div>
    <div id="zevenResult">
       <div id="zevenfoto"> </div>
       <div class="schuin2 zeven">
         <p class="artikel">Door het einde van de werken ...</p>
         <button id="buttonzoek"class="button zevenb"><a>READ</a></button>
       </div>
    </div>
</div>

</body>

<% include nav %>
