<% include header %>

<body>
  <div class="kader">
    <div>
      <div id="driezoek">
        <img class="logo" src="http://is3.mzstatic.com/image/thumb/Purple128/v4/da/7d/ec/da7dec8b-144a-a52a-5db3-d901eb4b202d/source/1200x630bb.jpg">
      </div>
      <div id="eenzoek">
        <p> Klik op jouw gemeente, <br> wees up-to-date van de nieuwtjes </p>
      </div>
     </div>
       <button class="button lichtblauw"><a href="/antwerpen">Antwerpen</a></button>
       <button class="button geel"><a href="/deurne">Deurne</a></button>
       <button class="button rood"><a href="/merksem">Merksem</a></button>
       <button class="button groen"><a href="/ekeren">Ekeren</a></button>
       <button class="button lichtblauw"><a href="/gent">Gent</a></button>
       <button class="button geel"><a href="/dendermonde">Dendermonde</a></button>
       <button class="button rood"><a href="/leuven">Leuven</a></button>
       <button class="button groen"><a href="/antwerpen">Antwerpen</a></button>
       <button class="button lichtblauw"><a href="/antwerpen">Antwerpen</a></button>
       <button class="button geel"><a href="/antwerpen">Antwerpen</a></button>
  </div>
</body>
